<div class="post-comment">
<%= link_to user_post_path(post.author, post) ,id: "show-post-#{post.id}" do %>
  <div class="post">
    <h4><%= post.title %></h4>
    <%= post.text %>
    <div id='<%= "comments-likes-#{post.id}" %>' class="post-stat">
      Comments: <%= post.comments_counter %> | Likes: <%= post.likes_counter %>
    </div>
  </div>

    <% if display %>
    <div class="comments">
      <h4>Comments</h4>
      <%= render partial: 'users/posts/comment', collection: post.comments.last(5), as: :comment %>
    </div>
    <% end %>
  <% end %>
  <% if can? :delete, post %>
  <%= link_to 'Delete Post', user_post_path(post.author, post), 'data-turbo-method': :delete, data: { confirm: "Are you sure?"} %>
  <% end %>
</div>