<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <section class="layout-container ">
  <% if user_signed_in? %>
  <%= link_to "User's List", users_path %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <%= link_to current_user.name, user_posts_path(current_user.id)%> | <%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete%>
  <% end%>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </section>
    <%= yield %>
  </body>
</html>
